@import url("https://fonts.googleapis.com/css2?family=Archivo:ital@0;1&display=swap");

:root {
  --main: #271c51;
  --background: #f0f0f0;
}

html,
body {
  color: var(--main);
  background-color: var(--background);
  font-family: "Archivo", sans-serif;
}
