.listItem-enter {
  opacity: 0;
}

.listItem-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.listItem-exit {
  opacity: 1;
}

.listItem-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
